### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [136]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student CSV Data Files via .read_csv method and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data via .merge method into a single dataset using left outer join on school_name column to bring in all records from student data df.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name"])  #Bring in all student data via Left Outer join
#school_data_complete_df.head(10) #QUESTION:  Why did we have on=["school_name"] twice in the original?

# Use method .shape to get number of rows and columns in df -> (39170, 11)
# school_data_complete_df.shape

#grouped_school = school_data_df.groupby('type')
#grouped_school.head(15)


school_data_complete_df.head(10).style.hide_index()
#grouped_school_type_df = school_data_complete_df.groupby('type')
#grouped_school_type_df.head()
#print(type(grouped_school_type_df))
#school_data_complete_df.shape  # returns 39170 row and 11 columns

In [137]:
#Using relative postion, export df to CSV to review

school_data_complete_df.to_csv('From_District_Summary_DF_CSV.csv', encoding='utf-8')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [138]:
#District Summary - Calculate the total number of schools
#Clean duplicate schools and store in array

unique_school_name = school_data_df['school_name'].unique()

tot_num_school = len(unique_school_name)

print(tot_num_school)  #Returned 15

15

In [139]:
#District Summary - Calculate the total number of students

tot_num_student = student_data_df['student_name'].count()

print(tot_num_student)

#print(type(tot_num_student)) #Returned 39170

39170

In [140]:
#District Summary - Calculate total budget

tot_budget_school = school_data_df['budget'].sum()

print(tot_budget_school)

#print(type(tot_budget_school))  #Returned total school budget

24649428

In [141]:
#District Summary - Calculate average math score

avg_math_score_student = student_data_df['math_score'].mean()

print(avg_math_score_student)

#avg_math_score_student_rd = round(avg_math_score_student, 2)  #Round to 2 decimal points

#print(avg_math_score_student_rd)  #Returned average for student math scores

78.98537145774827

In [142]:
#District Summary - Calculate average reading score

avg_read_score_student = student_data_df['reading_score'].mean()

print(avg_read_score_student)

#avg_read_score_student_rd = round(avg_read_score_student, 2)  #Round to 2 decimal points

#print(avg_read_score_student_rd)  #Returned average for student reading score

81.87784018381414

In [143]:
#District Summary - percentage of students with a passing math score (70 or greater)

#1st find students with math score > 70 and output it to dividend.  
#2nd use student_count as the divisor
#lastly, set up formula, taking divident/divisor

num_stu_passing_math = student_data_df.loc[student_data_df['math_score'] >= 70]['math_score'].count()  #Number of students who has math score 70 or greater.  .loc is used to access row and column specified

#print(num_stu_passing_math)

percent_stu_passing_math = round((num_stu_passing_math/tot_num_student)*100, 2)  #Round to 2 decimal points

print(percent_stu_passing_math)  #returned percent of students with passing math score >= 70

74.98

In [144]:
#District Summary - percentage of students with a passing reading score (70 or greater)

#1st find students with reading score > 70 and output it to dividend.  
#2nd use student_count as the divisor
#lastly, set up formula, taking divident/divisor

num_stu_passing_read = student_data_df.loc[student_data_df['reading_score'] >= 70]['reading_score'].count()  #Number of students who has reading score 70 or greater.  .loc method is used to access row and column specified

# Print(num_stu_passing_read)

percent_stu_passing_read = round((num_stu_passing_read/tot_num_student)*100, 2)  # Round to 6 decimal points

print(percent_stu_passing_read)  # Returned percent of students with passing math score >= 70

85.81

In [145]:
# District Summary - Calculate percentage of students who passed math and reading (% Overall Passing)

# Overall Passing Rate Calculations

overall_stu_passing_rate = round((percent_stu_passing_read + percent_stu_passing_math) / 2, 2)  # Round to 6 decimal points
print(overall_stu_passing_rate)
#print(type(overall_stu_passing_rate))

80.4

In [146]:
# Create a dataform with data organized into School District

district_summary = pd.DataFrame({"Total Schools":[tot_num_school],   # .DataFrame is case sensitive
                               "Total Students":[tot_num_student],   
                               "Total Budget": [tot_budget_school],
                               "Average Math Score":[avg_math_score_student],
                               "Average Reading Score":[avg_read_score_student],
                               "% Passing Math":[percent_stu_passing_math],
                               "% Passing Reading": [percent_stu_passing_read],
                               "% Overall Passing Rate":[overall_stu_passing_rate]})

district_summary.head().style.hide_index()
#district_summary.shape

In [147]:
#Formatting applied to Dataform - district summary

district_summary.style.format(pd.DataFrame).hide_index()
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)  # Format interable with a comma
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)  # Format interable with a $ and , 
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.2f}%".format)  # Format % and round to 2 decimal points

district_summary.head().style.hide_index()

district_summary.shape  #

(1, 8)

## School Summary

In [148]:
# group by school and set the index for school name.  This makes the school name column bold when it is indexed.
grp_school_df = school_data_complete_df.set_index('school_name').groupby(['school_name'])
#grp_school_df.head(40000)

In [149]:
# determine school types by school and set index for school name
school_type_df = school_data_df.set_index('school_name')['type']
school_type_df.head(20)
#school_type_df.shape  # Returns 15 rows and 1 column called type.

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [150]:
# calcuate total students per school and set index for school name
student_per_school_df = grp_school_df['Student ID'].count()  # Use groups as a filter to figure out total students per school.  Otherwise, count would just return just the total students for all 15 schools.
#student_per_school_df

stu_per_school_df = student_data_df['Student ID'].count()
stu_per_school_df    #  This returns total students
#student_per_school_df.shape  # Returns 15 rows and 1 column called student ID.  This is a groupby that ask "for each school, what is the total number of students"

39170

In [151]:
# calculate school budget per school
budget_per_school_df = school_data_df.set_index('school_name')['budget']
budget_per_school_df.head()

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Name: budget, dtype: int64

In [152]:
# calculate budget per each student for each school
#budget_per_student_df = school_data_df.set_index('school_name')['budget'] / student_data_df['school_name'].count()

budget_per_student_df = school_data_df.set_index('school_name')['budget']/school_data_df.set_index('school_name')['size']
#budget_per_student_df.head(20)

In [153]:
# calculate average math score per each school
avg_math_df = grp_school_df['math_score'].mean()
avg_math_df.head(20)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [154]:
# calculate average reading score per each school
avg_read_df = grp_school_df['reading_score'].mean()
avg_read_df.head(20)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [155]:
# calculate % of students that passed math: stu_pass_math_% = num_stu_pass_math / student_per_school_df["Total Students"]
#???

# calculate % of students that passed math: stu_pass_reading_% = num_stu_pass_reading / student_per_school_df["Total Students"]
#???

# calculate overall passing, which is the percentage of student who passed both math AND reading.  logic:  (stu_pass_math + stu_pass_reading) / 
#???
#school_summary_df["overall_passing_rate"] = (school_summary_df["stu_pass_reading_%"] + school_summary_df["stu_pass_reading_%"])/2

In [156]:
# create school summary dataframe

school_summary_df = pd.DataFrame({"School Type": school_type_df,
                               "Total Students": student_per_school_df,
                               "Total School Budget": budget_per_school_df,
                               "Per Student Budget": budget_per_student_df,
                               "Average Math Score": avg_math_df,
                               "Average Reading Score": avg_read_df})  

# formatting                               

#school_summary_df.style.format(pd.DataFrame).hide_index()
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)  # Format interable with a comma
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)  # Format interable with a $ and , 
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,}".format)  # Format % and round to 2 decimal points
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
#school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
#school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
#school_summary_df["% Overall Passing Rate"] = school_summary_df["% Overall Passing Rate"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
                               
school_summary_df.head(20)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
Bailey High School,District,"4,976","$3,124,928",$628.0,77.05%,81.03%
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.06%,83.98%
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.71%,81.16%
Ford High School,District,"2,739","$1,763,916",$644.0,77.10%,80.75%
Griffin High School,Charter,"1,468","$917,500",$625.0,83.35%,83.82%
Hernandez High School,District,"4,635","$3,022,020",$652.0,77.29%,80.93%
Holden High School,Charter,427,"$248,087",$581.0,83.80%,83.81%
Huang High School,District,"2,917","$1,910,635",$655.0,76.63%,81.18%
Johnson High School,District,"4,761","$3,094,650",$650.0,77.07%,80.97%
Pena High School,Charter,962,"$585,858",$609.0,83.84%,84.04%
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.84%,80.74%
Shelton High School,Charter,"1,761","$1,056,600",$600.0,83.36%,83.73%
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.42%,83.85%
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.27%,83.99%
Wright High School,Charter,"1,800","$1,049,400",$583.0,83.68%,83.95%

In [157]:
# Using relative postion, export school summary df to CSV to review

school_summary_df.to_csv('From_School_Summary_DF_CSV.csv', encoding='utf-8')

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type