### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [99]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student CSV Data Files via .read_csv method and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data via .merge method into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name"])  #Bring in all student data via Left Outer join
#school_data_complete_df.head(10) #QUESTION:  Why did we have on=["school_name"] twice in the original?

school_data_complete_df.head(10).style.hide_index()

In [9]:
#Using relative postion, export df to CSV to review

school_data_complete_df.to_csv('From_DF_CSV.csv', encoding='utf-8')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
#District Summary - Calculate the total number of schools
#Clean duplicate schools and store in array

unique_school_name = school_data_df['school_name'].unique()

tot_num_school = len(unique_school_name)

print(tot_num_school)  #Returned 15

15

In [62]:
#District Summary - Calculate the total number of students

tot_num_student = student_data_df['student_name'].count()

print(tot_num_student)

#print(type(tot_num_student)) #Returned 39170

39170

In [61]:
#District Summary - Calculate total budget

tot_budget_school = school_data_df['budget'].sum()

print(tot_budget_school)

#print(type(tot_budget_school))  #Returned total school budget

24649428

In [64]:
#District Summary - Calculate average math score

avg_math_score_student = student_data_df['math_score'].mean()

print(avg_math_score_student)

#avg_math_score_student_rd = round(avg_math_score_student, 2)  #Round to 2 decimal points

#print(avg_math_score_student_rd)  #Returned average for student math scores

78.98537145774827

In [65]:
#District Summary - Calculate average reading score

avg_read_score_student = student_data_df['reading_score'].mean()

print(avg_read_score_student)

#avg_read_score_student_rd = round(avg_read_score_student, 2)  #Round to 2 decimal points

#print(avg_read_score_student_rd)  #Returned average for student reading score

81.87784018381414

In [22]:
#District Summary - percentage of students with a passing math score (70 or greater)

#1st find students with math score > 70 and output it to dividend.  
#2nd use student_count as the divisor
#lastly, set up formula, taking divident/divisor

num_stu_passing_math = student_data_df.loc[student_data_df['math_score'] >= 70]['math_score'].count()  #Number of students who has math score 70 or greater.  .loc is used to access row and column specified

#print(num_stu_passing_math)

percent_stu_passing_math = round((num_stu_passing_math/tot_num_student)*100, 2)  #Round to 2 decimal points

print(percent_stu_passing_math)  #returned percent of students with passing math score >= 70

74.98

In [24]:
#District Summary - percentage of students with a passing reading score (70 or greater)

#1st find students with reading score > 70 and output it to dividend.  
#2nd use student_count as the divisor
#lastly, set up formula, taking divident/divisor

num_stu_passing_read = student_data_df.loc[student_data_df['reading_score'] >= 70]['reading_score'].count()  #Number of students who has reading score 70 or greater.  .loc method is used to access row and column specified

# Print(num_stu_passing_read)

percent_stu_passing_read = round((num_stu_passing_read/tot_num_student)*100, 2)  # Round to 6 decimal points

print(percent_stu_passing_read)  # Returned percent of students with passing math score >= 70

85.81

In [25]:
# District Summary - Calculate percentage of students who passed math and reading (% Overall Passing)

# Overall Passing Rate Calculations

overall_stu_passing_rate = round((percent_stu_passing_read + percent_stu_passing_math) / 2, 2)  # Round to 6 decimal points
print(overall_stu_passing_rate)

80.4

In [101]:
# Create a dataform with data organized into School District

district_summary = pd.DataFrame({"Total Schools":[tot_num_school],   # .DataFrame is case sensitive
                               "Total Students":[tot_num_student],   
                               "Total Budget": [tot_budget_school],
                               "Average Math Score":[avg_math_score_student],
                               "Average Reading Score":[avg_read_score_student],
                               "% Passing Math":[percent_stu_passing_math],
                               "% Passing Reading": [percent_stu_passing_read],
                               "% Overall Passing Rate":[overall_stu_passing_rate]})

district_summary.head(5)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,80.4

In [102]:
#Formatting applied to Dataform - district summary

district_summary.style.format(pd.DataFrame).hide_index()
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)  # Format interable with a comma
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)  # Format interable with a $ and , 
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)  # Format % and round to 2 decimal points
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.2f}%".format)  # Format % and round to 2 decimal points

district_summary.style.hide_index()  # Use .style.hide_index() to hide index

## School Summary

In [ ]:
#District Summary - List school type

school_type = school_data_df['type'].unique()

print(school_type)  #Returned list of types of School

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type